#hero-main{
    width: 80%;
    margin: auto;
}
.hero-main-heading{
    background: #343a40;
    font-weight: bold;
    color: white;
}
.hero-heading-row{
    /*padding: 15px 10px 10px;*/
    padding-top: 15px;
}
.hero-col, .hero-info-col{
    padding: 0!important;
}
.hero-head{
    font-size: 90% !important;
    text-align: center;
}

.hero-each-row{
    position: relative !important;
    top: 0 !important;
}
.hero-info-col{
    padding: 0!important;
    margin-right: 5px !important;
    font-size: 90% !important;
    text-align: center;
}
.hero-info{

}

.hero-main-overlay{
    position: absolute !important;
    display: block !important;
    top: 0;
    opacity: 0;
}
.hero-main-overlay:hover{
    opacity: 1;
    background: rgba(0,0,0,0.5);
}

.hero-edit{
    float: right;
    right: 0;
    text-align: center;
}

.btn-1, .btn-2{
    height: 20% !important;
    font-size: 80% !important;
}

.btn-info, .btn-danger, .btn-success{
    height: 20% !important;
    /*border: 0.5px solid rgba(255,255,255,0.5) !important;*/
    padding: 2px 10px !important;
    /*margin-top: 50%;*/
}

.hero-edit-anchor{
    text-decoration: none;
    color: white;
    font-size: 80% !important;
}
.add-hero{
    width: 50px;
    margin: 0 auto;
    margin-top: 5% !important;
}