<div id="hero-main">
    <div class="container hero-main-heading">
        <div class="row hero-heading-row">
            <div class="col-1 hero-col">
                <h6 class="hero-head">#</h6>
            </div>
            <div class="col hero-col">
                <h6 class="hero-head">Name</h6>
            </div>
            <div class="col hero-col">
                <h6 class="hero-head">Power</h6>
            </div>
            <div class="col hero-col">
                <h6 class="hero-head">weakness</h6>
            </div>
            <div class="col hero-col">
                <h6 class="hero-head">info</h6>
            </div>
        </div>
    </div>
    <div class="container hero-main-body">
        <div class="hero-each-row" *ngFor="let hero of this.heroes">
            <div class="row hero-main-row">
                <div class="col-1 hero-info-col"><p class="hero-info">{{hero.id}}</p></div>
                <div class="col hero-info-col"><p class="hero-info">{{hero.name}}</p></div>
                <div class="col hero-info-col"><p class="hero-info">{{hero.power}}</p></div>
                <div class="col hero-info-col"><p class="hero-info">{{hero.weakness}}</p></div>
                <div class="col hero-info-col"><p class="hero-info">{{hero.info}}</p></div>
            </div>

            <div class="row hero-main-overlay">
                <div class="container">
                    <div class="row hero-edit">
                        <div class="col btn-1">
                            <button class="btn btn-info"><a class ="hero-edit-anchor" (click)="editHeroDetail()">Edit</a></button>
                        </div>
                        <div class="col btn-2">
                            <button class="btn btn-danger"><a class ="hero-edit-anchor" (click)="deleteHeroes(hero)">Delete</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-hero">
        <button class="btn btn-success"><a class ="hero-edit-anchor" (click)="addHeroes()">Add</a></button>
    </div>
</div>
