#custom-hero-main{
  width: 60%;
  height: 500px;
  margin: 0 auto;
}
#custom-hero-left{
  width: 40%;
  height: 500px;
  float: left;
}
#custom-hero-right{
  width: 55%;
  height: 400px;
  margin-left: 5%;
  float: left;
  border-radius: 5px;
  background: darkcyan;
}
