<div id="custom-hero-main">
  <div id="custom-hero-left">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Superman" [(ngModel)]="hero.name" name="name">
      </div>
      <div class="form-group">
        <label for="power">Power</label>
        <input type="text" class="form-control" id="power" placeholder="Flight" [(ngModel)]="hero.power" name="power">
      </div>
      <div class="form-group">
        <label for="weakness">Weakness</label>
        <input type="text" class="form-control" id="weakness" placeholder="Kryptonite" [(ngModel)]="hero.weakness" name="weakness">
      </div>
      <div class="form-group">
        <label for="info">More Info</label>
        <input type="text" class="form-control" id="info" placeholder="url" [(ngModel)]="hero.info" name="info">
      </div>
      <button type="submit" class="btn btn-primary" (click)="createHero()">Create</button>
    </form>
  </div>
  <div id="custom-hero-right"></div>
</div>
