<div id="inflation-main">
  <h4>Calculate $Dollar worth</h4>
  <ul class="scrollable-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col">
        <form>
          <div class="form-group">
            <label class="yearThen" for="yearThen">Year</label>

            <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  class="form-control" id="yearThen" placeholder="$$$$" name="yearThen" [(ngModel)]="yearThen">
          </div>
        </form>
      </div>
      <div class="col-1">
        <button type="submit" id="convert-btn" (click)="showResult()"><img id="convert-loop-img" src="assets/img/exchange.svg"></button>
      </div>
      <div class="col">
        <form>
          <div class="form-group">
            <label class="yearNow" for="yearNow">Year</label>
            <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  class="form-control" id="yearNow" placeholder="$$$$" name="yearNow" [(ngModel)]="yearNow">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

