<div id="nav-bar-div">
  <div id="main-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div id="expandable-nav">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" id="home-link" href="home">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" id="hero-link" href="hero">Heroes</a>
          <a class="nav-item nav-link" id="login-link" href="login">Log In</a>
        </div>
      </div>
    </nav>
  </div>

</div>
