<div id="nav-bar-div">
  <div class="container hero-container-nav">
    <div class="row hero-row-nav">
      <div class="col hero-col">
        <h6 class="hero-head"><a class="nav-item nav-link active" id="home-link" href="">Home <span class="sr-only">(current)</span></a></h6>
      </div>
      <div class="col hero-col">
      <h6 class="hero-head"><a class="nav-item nav-link" id="hero-link" href="hero">Heroes</a></h6>
    </div>
      <div class="col hero-col">
      <h6 class="hero-head"><a class="nav-item nav-link" id="login-link" href="login">Log In</a></h6>
      </div>
    </div>
  </div>
</div>
