#nav-bar-div{
  width: 60%;
  margin: 0 auto;
}

#main-navbar{
  height: 45px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 45px;
  border-radius: 5px;
}

.bg-light {
  height: 45px;
  width: 100%;
  background: rgb(0,51,102)!important;
  border-radius: 5px;
}

#expandable-nav{
  height: 45px;
  width: 100%;
}
.navbar-nav{
  height: 100%;
  width: 40%;
  margin: auto;
  justify-content: center;
}

.nav-link{
  margin: 0 15px 0 15px;
}
#hero-link, #home-link, #login-link{
  color: white;
}
#hero-link:hover, #home-link:hover, #login-link:hover{
  color: rgba(255,255,255,0.95);
}
